@charset "UTF-8";

.chuo{
	text-align:center;
}

.error{
	text-align:center;
	color:#ff0000;
}

.login-name{
	list-style-type:none;
	display:inline;
	margin: 0 10px;
}

.right{
	text-align:right;
	margin: 0 200px;
}

.tableList{
	text-align: center;
	border-collapse: collapse;
	margin: auto;
}

.tableList,.tableList td, .tableList th{
	border: 1px solid;
	padding-left: 150px;
	padding-right: 150px;

}